In [1]:
import pandas as pd
import numpy as np

# Tabela de contingência para TF-IDF com K-Means
data = {
    'A': [0, 47, 0, 0, 70, 0, 0, 0, 10, 0, 5, 2],
    'B': [1, 211, 1, 1, 0, 5, 4, 1, 38, 3, 3, 2],
    'C': [0, 3, 0, 0, 0, 4, 0, 495, 4, 0, 0, 1],
    'D': [1, 256, 0, 0, 0, 1, 1, 0, 16, 1, 0, 0],
    'E': [1, 527, 1, 1, 0, 12, 62, 2, 21, 1, 0, 0],
    'F': [32, 321, 1, 0, 4, 6, 2, 11, 112, 4, 10, 19],
    'G': [0, 17, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
    'H': [2, 303, 21, 48, 3, 15, 5, 9, 42, 7, 52, 1],
    'I': [0, 11, 0, 0, 0, 0, 1, 0, 2, 0, 0, 0],
    'J': [0, 2, 0, 0, 0, 3, 12, 1, 94, 10, 0, 0],
    'K': [5, 4, 4, 2, 1, 109, 83, 0, 349, 36, 3, 10],
    'L': [1, 90, 83, 1, 0, 1, 0, 0, 14, 0, 241, 2]
}

# Convertendo para DataFrame
df = pd.DataFrame(data)

# Calculando a pureza de cada cluster
def calculate_cluster_purity(cluster_data):
    # Maior frequência de categoria no cluster
    max_count = max(cluster_data)
    # Soma total de documentos no cluster
    total_count = sum(cluster_data)
    # Pureza do cluster
    return max_count / total_count if total_count > 0 else 0

# Aplicando a função em cada linha (cluster)
cluster_purity = df.apply(calculate_cluster_purity, axis=1)
cluster_purity

0     0.744186
1     0.294085
2     0.747748
3     0.905660
4     0.897436
5     0.698718
6     0.488235
7     0.953757
8     0.497151
9     0.580645
10    0.767516
11    0.513514
dtype: float64

In [2]:
df

     A    B    C    D    E    F   G    H   I   J    K    L
0    0    1    0    1    1   32   0    2   0   0    5    1
1   47  211    3  256  527  321  17  303  11   2    4   90
2    0    1    0    0    1    1   0   21   0   0    4   83
3    0    1    0    0    1    0   0   48   0   0    2    1
4   70    0    0    0    0    4   0    3   0   0    1    0
5    0    5    4    1   12    6   0   15   0   3  109    1
6    0    4    0    1   62    2   0    5   1  12   83    0
7    0    1  495    0    2   11   0    9   0   1    0    0
8   10   38    4   16   21  112   0   42   2  94  349   14
9    0    3    0    1    1    4   0    7   0  10   36    0
10   5    3    0    0    0   10   0   52   0   0    3  241
11   2    2    1    0    0   19   0    1   0   0   10    2